@keyframes pulse {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1.2);
  }
}

.tic-tac-toe .board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  &.winner-found {
    & .row .square:hover {
      background: inherit;
    }
  }
  & .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &:not(:last-child) {
      border-bottom: 0.75rem solid var(--color-black);
    }
    & .square {
      font-size: 9rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding-top: 2rem;

      &:not(:last-child) {
        border-right: 0.75rem solid var(--color-black);
      }
      &:hover {
        background: lightblue;
      }
      &.winner {
        & .player {
          z-index: 2;
          color: var(--color-green);
          animation: pulse 1.5s infinite ease-in-out;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .tic-tac-toe .board .row {
    &:not(:last-child) {
      border-bottom: 1rem solid var(--color-black);
    }
    & .square {
      font-size: 12rem;
      &:not(:last-child) {
        border-right: 1rem solid var(--color-black);
      }
    }
  }
}
