@import "../../../../styles/common.css";

#app {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;

  & > header {
    height: 2em;
    font-size: 2em;
    background: red;

    & .link {
      text-decoration: none;
      cursor: pointer;
      color: var(--color-black);
    }
    & .name {
    }
  }

  & > main {
    background: orange;
  }

  & > footer {
    height: 2.5em;
    background: blue;
  }
}
