@import "../../../../styles/variables.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: var(--font-family);
  color: var(--color-black);
  background: var(--color-gray);
  padding: 0;
  margin: 0;
}

#app {
  display: grid;
  height: 100vh;
  grid-template-rows: 3rem 1fr 3rem;

  & > main {
    padding: 1rem;
  }

  & > footer {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-electric-blue);
    color: var(--color-yellow);

    & > a {
      padding: 0.5rem;
      text-decoration: none;
      border-bottom: 0.2rem solid transparent;
      color: inherit;

      &:hover {
        border-bottom: 0.2rem solid var(--color-yellow);
      }
      &:focus,
      &:active {
        outline: 0;
      }
    }
  }
}
