@import "../../../../styles/variables.css";

#app > header {
  height: 3rem;
  background: var(--color-electric-blue);
  color: var(--color-yellow);
  user-select: none;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-content: center;

  & h1 {
    font-size: 1.5rem;
  }
  & .apps-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    & .link {
      padding: 0.3rem;
      text-decoration: none;
      cursor: pointer;
      color: var(--color-yellow);
      border-bottom: 0.2rem solid transparent;

      &:hover {
        border-bottom: 0.2rem solid var(--color-yellow);
      }
    }
  }
  & .name {
    display: flex;
    justify-content: center;
    & h1 {
      margin-left: -100px;
    }
  }
}
