@import "../../../../styles/common.css";

#app > main > .app-chooser {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & > .card {
    display: flex;
    flex-direction: column;
    height: 12rem;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--color-black);
    color: var(--color-gray);
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    cursor: pointer;
    user-select: none;

    &:hover {
      opacity: 0.5;
    }
    & > .name {
      align-self: center;
      font-size: 1.5em;
    }
  }
}

@media screen and (min-width: 960px) {
  #app > main > .app-chooser {
    justify-content: flex-start;

    & > .card {
      margin: 0 0.5rem 0.5rem 0;
      width: calc(50% - 0.5rem);
    }
  }
}

@media screen and (min-width: 1200px) {
  #app > main > .app-chooser {
    & > .card {
      width: calc(33% - 0.5rem);
    }
  }
}

@media screen and (min-width: 1500px) {
  #app > main > .app-chooser {
    & > .card {
      width: calc(25% - 0.5rem);
    }
  }
}

@media screen and (min-width: 1800px) {
  #app > main > .app-chooser {
    & > .card {
      width: calc(20% - 0.5rem);
    }
  }
}
